/* Meniu orizontal */
.top-bar {
  --dim-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--culoare-prim-albastru-inchis);
  color: var(--culoare-fundal-secundara);
  padding: 10px 20px;
  height: var(--dim-height);
}
.top-bar .site-logo {
  flex: 1;
  margin-top: 0;
}
.top-bar .site-logo,
.top-bar .site-logo img {
  height: 52px;
}
.top-bar .search-bar.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin: 10px 20px;
}
.top-bar form {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.top-bar .search-bar form,
.top-bar .search-bar div,
.top-bar .search-bar input {
  flex-grow: 1;
}
.top-bar .form-group {
  display: flex;
  height: 100%;
}
.top-bar .form-group .form-control.search-bar input {
  width: 100%;
  height: 100%;
  padding: 5px;
}
.search-box {
  width: 100%;
}
.search-btn.btn {
  width: auto;
}
.search-btn .fa-search {
  font-size: 20px;
  align-items: flex-start;
  padding-left: 12px;
}
.top-bar .menu {
  display: flex;
  gap: 20px;
}
.top-bar .menu a {
  color: #fff;
  text-decoration: none;
}
.top-bar i {
  line-height: unset;
  padding: 0 1.2em;
}
