html {
  font-size: 17px;
  transition: all 0.1s linear;
  scroll-behavior: smooth;
  color: var(--culoare-text);
}
body {
  --culoare-text: #011627;
  --culoare-prim-albastru-inchis: #1a2e49;
  --culoare-hover: #707788;
  --culoare-fundal: #f9f9f9;
  --culoare-fundal-secundara: #feffff;
  --culoare-rosu-deschis: #ffc1b3;
  --culoare-purple: #794f59;
  --culoare-crem-deschis: #fff7d6;
  --culoare-auriu-inchis: #dbaf6e;
  --culoare-verde-deschis: #82b98e;
  --culoare-portocaliu: #b87f09;
  --dim-spatiere: 10px;

  --culoare-border: #f79f6d70;
  --culoare-border-alt: #f79f6d60;
  --culoare-border-iframe: #f38f55;
  --culoare-header: #79b70a60;
  --culoare-footer: #b8704650;
  --culoare-header-1: #602605;
  --culoare-link-vizitat: #b87046;

  background-color: var(--culoare-fundal);
  padding-left: var(--dim-spatiere);
  padding-right: var(--dim-spatiere);
  transition: all 0.1s linear;
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}

.linkuri-sus {
  font-size: 0.9rem;
}

p {
  margin-top: 0.5rem;
}

header a {
  text-decoration: none;
}

a:active {
  color: green;
  border: solid 1px var(--culoare-border);
}

a,
a:visited {
  color: var(--culoare-text);
}

[href^="http"]::before {
  content: "\2BB3";
  font-size: 1.5em;
  font-weight: 550;
  color: rgb(63, 24, 73);
}

.ls-meniu > li,
.ls-meniu {
  font-weight: bold;
}

footer {
  font-size: small;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 0.8em;
  }
  body {
    --dim-spatiere: 8px;
  }
  .linkuri-sus {
    font-size: 1.05rem;
  }
  .ls-meniu > li,
  .ls-meniu {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 0.7em;
  }
  body {
    --dim-spatiere: 6px;
  }
}
