body {
  display: flex;
  flex-direction: column;
}

/* Meniu orizontal */
.top-bar {
  --dim-height: 18%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--culoare-prim-albastru-inchis);
  color: var(--culoare-fundal-secundara);
  padding: 10px 20px;
  height: var(--dim-height);
}
.top-bar .site-logo {
  flex: 1;
}
.top-bar .site-logo * {
  height: 60px;
}
.top-bar .search-bar {
  flex-direction: row;
  flex-grow: 1;
  margin: 10px 20px;
}
.top-bar form {
  display: inline-flex;
}
.top-bar .search-bar form,
.top-bar .search-bar div,
.top-bar .search-bar input {
  flex-grow: 1;
}
.top-bar .search-bar input {
  width: 100%;
  padding: 5px;
  font-size: 1em;
}
.search-btn {
  width: auto;
}
.search-btn .fa-search {
  font-size: 20px;
  align-items: flex-start;
  padding-left: 12px;
}
.top-bar .menu {
  display: flex;
  gap: 20px;
}
.top-bar .menu a {
  color: #fff;
  text-decoration: none;
}
.top-bar i {
  line-height: unset;
  padding: 0 1.2em;
}

/* Meniu lateral */
.side-bar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 15px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.side-bar ul {
  list-style-type: none;
  padding: 0;
}

.side-bar ul li {
  margin-bottom: 15px;
}

.side-bar ul li a {
  color: #333;
  text-decoration: none;
}

.side-bar ul li ul {
  margin-top: 5px;
  padding-left: 15px;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.container {
  display: flex;
}
