.inside-header {
  --dim-latime-maxima: 1230px;
  --dim-margine-sus: 24px;
  max-width: var(--dim-latime-maxima);
  padding: 18px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.linkuri-sus {
  align-self: flex-end;
  flex: 100%;
}
.linkuri-sus ul {
  list-style: none;
  display: inline-flex;
  align-items: center;
  float: right;
}
.linkuri-sus li {
  position: relative;
  margin-left: 15px;
}
.linkuri-sus li:first-child {
  margin-left: 0;
}
.linkuri-sus li::after {
  content: "|";
  position: absolute;
  right: -10px;
  color: #ccc;
}
.linkuri-sus li:last-child::after {
  content: "";
}
.site-logo,
.container-meniu {
  display: flex;
  margin-top: var(--dim-margine-sus);
}
.site-logo {
  flex: 35%;
  align-items: flex-start;
}
.header-logo > img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.container-meniu {
  flex: 65%;
  align-items: center;
  align-self: flex-end;
}

header > .site-logo,
header > .container-meniu {
  display: inline-flex;
}
.img-search {
  height: 550px;
  background-image: url("../imagini/interior05_wide.avif");
  background-image: image-set(
    url("../imagini/interior05_wide.avif") type("image/avif"),
    url("../imagini/interior05_wide.png") type("image/png")
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-search * {
  height: 40px;
}
.search-box {
  width: 450px;
  padding: 0 0 0 10px;
  border: none;
  margin: none;
  font-size: 1.05rem;
}
.search-btn {
  background-color: var(--culoare-prim-albastru-inchis);
  border: none;
  width: 60px;
  padding: 0;
  cursor: pointer;
}
.search-btn .fa-search {
  color: #eccfa4;
  font-size: 28px;
  display: inline-flex;
  align-items: center;
}
.errors,
.alerts,
.success {
  border-radius: 12px;
  width: 100%;
  margin-bottom: 0.5em;
}
.errors p,
.alerts p,
.success p {
  font-weight: 600;
  text-align: center;
  padding: 0.7em 0.5em;
}
.errors {
  background-color: var(--culoare-rosu-deschis);
}
.errors p {
  font-size: 0.8rem;
  color: var(--culoare-purple);
}
.alerts {
  background-color: blueviolet;
}
.alerts p {
  color: var(--culoare-fundal);
  font-size: 0.9rem;
}
.success {
  background-color: var(--culoare-verde-deschis);
}
.success p {
  color: var(--culoare-fundal);
  font-size: 0.9rem;
}

@media screen and (max-width: 1200px) {
  .inside-header {
    --dim-latime-maxima: 1100px;
    --dim-margine-sus: 18px;
    display: grid;
    grid-gap: 17px;
    grid-template-areas:
      "logo  logo  lsus"
      "meniu meniu meniu";
  }
  .linkuri-sus {
    grid-area: lsus;
    display: flex;
    align-self: flex-start;
  }
  .site-logo {
    grid-area: logo;
    display: inline-block;
    width: 100%;
  }
  .header-logo > img {
    width: 50%;
    height: auto;
    object-fit: contain;
  }
  .container-meniu {
    grid-area: meniu;
    margin-top: 0;
    align-self: center;
  }
  .img-search {
    height: 350px;
    background-image: url("../imagini/interior05_wide_1200.avif");
    background-image: image-set(
      url("../imagini/interior05_wide_1200.avif") type("image/avif"),
      url("../imagini/interior05_wide_1200.png") type("image/png")
    );
  }
  .errors p,
  .alerts p .success p {
    padding: 0.3em 0.3em;
  }
}

@media screen and (max-width: 800px) {
  .inside-header {
    --dim-latime-maxima: 768px;
    --dim-margine-sus: 10px;
    display: block;
    margin-bottom: calc(1.5 * var(--dim-margine-sus));
  }
  .linkuri-sus {
    justify-content: center;
  }
  .header-logo {
    display: flex;
    justify-content: center;
    margin-top: calc(2 * var(--dim-margine-sus));
    margin-bottom: calc(2 * var(--dim-margine-sus));
  }
  .header-logo > img {
    width: 55%;
    height: auto;
  }
  .img-search {
    height: 300px;
    background-image: url("../imagini/interior05_wide_800.avif");
    background-image: image-set(
      url("../imagini/interior05_wide_800.avif") type("image/avif"),
      url("../imagini/interior05_wide_800.png") type("image/png")
    );
  }
}
